Package: com.sparklechan.swifty
Name: FridaCodeManager
Description: If you ain't at home, code on the go!
Depends: curl, swift, zip, ldid, unzip, clang
Icon: https://dekotas.org/asset/fcm/icon.png
Conflicts: com.sparklechan.sparkkit
Maintainer: FridasCoolCodingTeam
Author: FridasCoolCodingTeam
Section: Development
Tag: role::hacker
