Package: com.sparklechan.swifty
Name: FridaCodeManager
Version: 1.0.1
Architecture: iphoneos-arm64
Description: .
Depends: swift-5.7.2, swift, zip, ldid, git, unzip, clang
Icon: https://dekotas.org/asset/fcm/icon.png
Conflicts: com.sparklechan.sparkkit
Maintainer: FridasCoolCodingTeam
Author: FridasCoolCodingTeam
Section: Tweaks
Tag: role::hacker
